---
import Layout from "../layouts/Layout.astro";
import AddContactForm from "../components/AddContactForm.astro";
---

<Layout>
  <a href="/" class="btn">&lt;= Go back</a>
  <h1>New Contact</h1>
  <p>Enter new contact details</p>

  <AddContactForm />
</Layout>
